<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment_5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASSIGNMENT_5">
        <activity android:name=".Q4RecyclerviewActivity" />
        <activity android:name=".Q6SecondActivity" />
        <activity android:name=".Q6LoginAlerdialogActivity" />
        <activity android:name=".Q7NavigationdrawerActivity" />
        <activity
            android:name=".Q5OptionAndSubMenuActivity"
            android:theme="@style/Theme.Q5" />
        <activity android:name=".Q3SpinnerActivity" />
        <activity android:name=".Q2GridviewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>